.section {
    padding-block-end: 15em;
}

.abouth2Wrapper {
    margin-block-end: 6rem;
}

.paraAndImgWrapper {
    display: flex;
    margin-block-end: 15rem;
    /* ! Create a new stacking context to allow before and after content to take effect */
    /* ! in about image */
    isolation: isolate;
}

.aboutImgWrapper {
    background-image: url("../../assets/words_about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25em;
    box-shadow: 6px 6px 20px var(--black);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -2rem;
        left: -2rem;
        width: 10em;
        aspect-ratio: 1;
        border-radius: 30%;
        background: conic-gradient(
            var(--red) 0.25turn,
            transparent 0.25turn 0.5turn,
            var(--red) 0.5turn 0.75turn,
            transparent 0.75turn 1turn);
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -2rem;
        right: -2rem;
        width: 10em;
        aspect-ratio: 1;
        border-radius: 30%;
        background: conic-gradient(
            var(--red) 0.25turn,
            transparent 0.25turn 0.5turn,
            var(--red) 0.5turn 0.75turn,
            transparent 0.75turn 1turn);
    }
}

.aboutText {
    font-size: 1.2rem;

    &::first-letter {
        initial-letter: 2;
        font-weight: 600;
    }
}

.h3ParaWrapper {
    text-align: center;
    padding-block: 8em;
    padding-inline: 0;
}

.h3ParaWrapper[data-content="platform database"] {
    margin-block-end: 12rem;
}

.secondaryHeadings {
    font-size: 3rem;

    & + p {
        font-size: 1.1rem;
    }
}

.horizontalLine {
    width: 50%;
}

/* Wrap in media query to make sure that it only applies when the user hasn't any preference */
@media (prefers-reduced-motion: no-preference) {
    .h3ParaWrapper {
        opacity: 0;
        scale: 0.9;
        animation: fade-in linear forwards;
        /* View - when the element enters the viewport */
        animation-timeline: view();
        /* Section to start animating when they are xpx away from the bottom of the viewport */
        /* Finish animation when they are xx% away */
        animation-range: 1px 45%;
    }

    @keyframes fade-in {
        to {
            opacity: 1;
            scale: 1;
        }
    }
}

@media (width >= 280px) {
    .paraAndImgWrapper {
        flex-direction: column;
    }

    .aboutImgWrapper {
        margin-block-end: 3.5em;
        
        /* Overflows on smaller screens */
        &::before,
        &::after {
            display: none;
        }
    }
}

@media (width >= 768px) {
    .aboutImgWrapper {
        &::before,
        &::after {
            display: block;
        }
    }
}

@media (width >= 992px) {
    .paraAndImgWrapper {
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutImgWrapper {
        margin-block-end: 0;
    }

    .aboutTextWrapper {
        width: 50%;
    }

    .aboutImgWrapper {
        width: 35%;
    }
}