.section {
    padding-bottom: 15em;
}

.abouth2Wrapper {
    margin-bottom: 6rem;
}

.paraAndImgWrapper {
    display: flex;
    margin-bottom: 15rem;
}

.aboutImgWrapper {
    background-image: url("../../assets/words_about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25em;
    box-shadow: 6px 6px 20px var(--black);
}

.aboutText {
    font-size: 1.2rem;

    &::first-letter {
        initial-letter: 2;
        font-weight: 600;
    }
}

.h3ParaWrapper {
    text-align: center;
    padding: 8em 0;
}

.h3ParaWrapper[data-content="platform database"] {
    margin-bottom: 12rem;
}

.secondaryHeadings {
    font-size: 3.2rem;

    & + p {
        font-size: 1.1rem;
    }
}

.horizontalLine {
    width: 50%;
}

/* Wrap in media query to make sure that it only applies when the user hasn't any preference */
@media (prefers-reduced-motion: no-preference) {
    .h3ParaWrapper {
        opacity: 0;
        scale: 0.9;
        animation: fade-in linear forwards;
        /* View - when the element enters the viewport */
        animation-timeline: view();
        /* Section to start animating when they are xpx away from the bottom of the viewport */
        /* Finish animation when they are xx% away */
        animation-range: 1px 45%;
    }

    @keyframes fade-in {
        to {
            opacity: 1;
            scale: 1;
        }
    }
}

@media (width >= 280px) {
    .paraAndImgWrapper {
        flex-direction: column;
    }

    .aboutImgWrapper {
        margin-bottom: 3.5em;
    }
}

@media (width >= 992px) {
    .paraAndImgWrapper {
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutImgWrapper {
        margin-bottom: 0;
    }

    .aboutTextWrapper {
        width: 50%;
    }

    .aboutImgWrapper {
        width: 35%;
    }
}