.search {
    margin-bottom: 5rem;
}

.form {
    text-align: center;
    padding: 2em 0;
}

.searchInput {
    padding: 1em 1.5em;
    border-radius: 10px;
}

.resultsContainer {
    display: grid;
    padding-bottom: 10em;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));

    & > div {
        padding: 2em;
        border-radius: 10px;
        box-shadow: 1px 1px 5px var(--black);
        background-color: #FCFFEB;
    }
}

.errorLoadingContainer {
    display: grid;
    min-height: 12vh;
    place-items: start center;
}

.loadingErrorText {
    font-size: 1.8rem;
    font-weight: 600;
    text-wrap: balance;
    text-align: center;
}

.heading {
    font-size: 2rem;
}

.capitaliseText {
    text-transform: capitalize;
}

.searchWord {
    font-size: 2rem;
}

.list > li {
    margin-bottom: 0.8em;
}

@media (width >= 280px) {
    .resultsContainer {
        row-gap: 2.5em;
    }
}

@media (width >= 992px) {
    .resultsContainer {
        gap: 2em;
    }
}