span[aria-label="required"] {
    color: var(--red);
}

.authForm {
    border-radius: 10px;
    border: 1px solid var(--black);
    padding: 2.5em 1.5em;
    margin: 4em auto;
    box-shadow: 1px 1px 5px var(--black);
    background-color: var(--white);
}

.formHeading {
    text-align: center;
    font-size: 3.5rem;
}

.authFormLabel {
    display: block;
    margin-bottom: 1em;
}

.authFormLabel,
.inputField {
    font-size: 1.4rem;
    filter: brightness(90%);
}

.inputField {
    padding: 0.5em;
    border-radius: 10px;
    width: 100%;
}

.labelInputWrapper {
    margin-bottom: 1.2em;
}

div.btnContainer {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

div.btnContainer > button {
    font-size: 1.2rem;
    padding: 0.2em 1em;
    box-shadow: 2px 2px var(--black);
}

.submitBtn {
    background: linear-gradient(to right, var(--red), var(--white));
}

@media (width >= 576px) {
    .authForm {
        width: 80%;
    }
}

@media (width >= 1200px) {
    .authForm {
        width: 50%;
    }
}

@media (width >= 1500px) {
    .authForm {
        width: 35%;
    }
}