span[aria-label="required"] {
    color: var(--red);
}

.authForm {
    border-radius: 10px;
    border: 1px solid var(--black);
    padding-block: 0.5em;
    padding-inline: 1.6em;
    margin-block: 4em;
    margin-inline: auto;
    box-shadow: 1px 1px 5px var(--black);
    background-color: var(--white);
    width: min(90%, 500px);
}

.formHeading {
    text-align: center;
    font-size: 2.8rem;
}

.authFormLabel {
    display: block;
    margin-block-end: 1em;
}

.authFormLabel,
.inputField {
    font-size: 1.2rem;
    filter: brightness(90%);
}

.inputField {
    padding: 0.5em;
    border-radius: 0.5rem;
    width: 100%;
}

.labelInputWrapper {
    margin-block-end: 1.2em;
}

.btnContainer {
    display: flex;
    padding-block: 2em;
}

.btnContainer > button {
    font-size: 1.2rem;
    padding-block: 0.2em;
    padding-inline: 1em;
    box-shadow: 2px 2px var(--black);
}

.submitBtn {
    background: linear-gradient(to right, var(--red), var(--white));
}

@media (width >= 280px) {
    .btnContainer {
        flex-direction: column;
    }

    .submitBtn {
        margin-block-end: 1.5em;
    }
}

@media (width >= 576px) {
    .btnContainer {
        flex-direction: row;
        justify-content: space-around;
    }

    .submitBtn {
        margin-block-end: 0;
    }
}