.errorWrapper {
    display: grid;
    place-items: center;
    min-height: 90vh;
}

.errorText {
    font-size: 1.4rem;
    color: var(--white);
}

.errorLink {
    text-decoration: underline;
    color: rgba(0 0 255 / 1);
}