.textFormWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
    margin-block: 5rem;
    box-shadow: 1px 1px 5px var(--black);
    background-color: #ffe5e5;
}

.textWrapper {
    text-align: center;
    background: #ffe5e5;
    padding-block: 0.5em;
    padding-inline: min(10%, 3.5em);
}

.getInTouchHeading {
    font-size: 2.8rem;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.getInTouchText {
    font-size: 1.1rem;
}

.formWrapper {
    padding-block: 0.5em;
    background-color: var(--white);
}

.form {
    margin-inline: auto;
    width: min(90%, 500px);
}

.label {
    display: block;
    margin-block-end: 0.5em;
}

.input, .textarea {
    padding: 0.5em;
    filter: brightness(90%);
    width: 100%;
}

.input {
    margin-block-end: 1.5em;
}

.label,
.input,
.textarea {
    font-size: 1.2rem;
}

.textarea {
    resize: vertical;
}

.required {
    color: var(--red);
}

.btnContainer {
    margin-block: 2em;
}

.submitBtn {
    padding-block: 0.5em;
    padding-inline: 1em;
    font-size: 1.1rem;
    background: linear-gradient(to right, var(--red), var(--white));
    box-shadow: 2px 2px var(--black);
    width: 100%;
    border-radius: 0;
}

@media (width >= 280px) {
    .textWrapper {
        margin-block-end: 2em;
    }
}

@media (width >= 992px) {
    .textWrapper {
        margin-block-end: 0;
    }
}