div.textFormWrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin: 5rem 0;
    box-shadow: 1px 1px 5px var(--black);
}

div.textWrapper {
    padding: 0.5em 2em;
    text-align: center;
    background: #ffe5e5;
}

div.textWrapper > h3 {
    font-size: 2.8rem;
}

div.textWrapper > p {
    font-size: 1.1rem;
}

div.formWrapper {
    padding: 0.5em 0;
    margin: 0;
}

form.form {
    width: 70%;
    margin: 0 auto;
}

label.label {
    display: block;
    margin-bottom: 0.5em;
}

input.input, .textarea {
    padding: 0.5em;
}

input.input {
    margin-bottom: 1.5em;
}

label.label,
input.input,
.textarea {
    font-size: 1.5rem;
}

.formField {
    filter: brightness(90%);
    width: 100%;
}

.textarea {
    resize: vertical;
}

span.required {
    color: var(--red);
}

div.btnContainer {
    margin: 2em 0;
}

button.submitBtn {
    padding: 0.5em 1em;
    font-size: 1.1rem;
    background: linear-gradient(to right, var(--red), var(--white));
    box-shadow: 2px 2px var(--black);
    width: 100%;
    border-radius: 0;
}