.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Padding inline is set in 'index.css' */
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--headerFooterColour);
}

.nav {
    transition: height 200ms ease-in;
}

.headerMenu > li {
    /* Important: this will allow links to remain visible until menu is closed */
    transition-property: opacity visibility;
    transition-duration: 150ms;
    transition-timing-function: ease-in;
}

.logoLink {
    display: block;
}

.headerLogo {
    width: 210px;
}

.headerLinks {
    font-size: 1.2rem;
    color: var(--white);

    &:hover {
        opacity: 0.8;
    }
}

.hamburger {
    cursor: pointer;
}

/* .hamburger.active {
    animation-name: animateHamburger;
    animation-duration: 2s;
    animation-fill-mode: backwards;
} */

.bar {
    display: block;
    background-color: var(--red);
    height: 4px;
    width: 30px;
    margin: 3px 0;
}

@media (width >= 280px) {
    .headerWrapper {
        flex-wrap: wrap;
    }

    .hamburger {
        display: block;
    }

    .nav {
        /* Position navbar below logo and hamburger menu */
        order: 2;
        width: 100%;
        height: 0;
    }

    .nav.expanded {
        height: auto;
    }

    /* .nav.nav.expanded .hamburger > .bar:first-child {
        transform: rotate(30deg);
    }
    .nav.nav.expanded .hamburger > .bar:nth-child(2) {
        opacity: 0;
    }
    .nav.nav.expanded .hamburger > .bar:last-child {
        transform: rotate(30deg);
    } */

    .headerMenu {
        padding: 1em 0;
        text-align: center;
    }

    .headerMenu > li {
        display: block;
        /* Prevent users from toggling through links if hamburger menu isn't active */
        visibility: hidden;
        opacity: 0;
    }

    .nav.expanded .headerMenu > li {
        visibility: visible;
        opacity: 1;
    }

    .headerMenu > li:not(:last-child) {
        margin-bottom: 2.5em;
    }

    .headerLinks {
        /* Expand target area of nav links */
        width: 100%;
        height: 100%;
        padding: 0.5em 0;
        display: block;
    }
}

@media (width >= 992px) {
    .headerWrapper {
        flex-wrap: nowrap;
    }

    .hamburger {
        display: none;
    }

   .nav {
        /* Restore initial order */
        order: 1;
        width: auto;
        height: auto;
    }

    /* .nav .hamburger > .bar:first-child {
        transform: rotate(0);
    }
    .nav .hamburger > .bar:nth-child(2) {
        opacity: 1;
    }
    .nav .hamburger > .bar:last-child {
        transform: rotate(0);
    } */

    .headerMenu {
        padding: 0;
    }

    .headerMenu > li {
        display: inline-block;
        visibility: visible;
        opacity: 1;
    }
    
    .headerMenu > li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 2.8em;
    }

    .headerLinks {
        width: auto;
        height: auto;
        padding: 0;
        display: inline;
    }
}

/* @keyframes animateHamburger {
    to {
        transform: rotate(30deg);
    }
} */