.section {
    --opacity: 0.9;
    padding-bottom: 5em;
    background-image: url("../../assets/words_contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-image: fill 1 linear-gradient(
        rgba(255 255 240 / var(--opacity)) 5%,
        rgba(0 0 0 / var(--opacity)));
}

.headingWrapper {
    margin-bottom: 3rem;
}

.logOutWrapper {
    text-align: center;
    padding: 3em 0;
}

.logoutBtn {
    font-size: 1.2rem;
    padding: 0.5em 1.5em;
    background-color: #E0E0E0;
    font-weight: 600;
    box-shadow: 1px 1px 2px var(--black);
}

.horizontalLine {
    width: 50%;
}

.mainContentWrapper {
    display: flex;
    overflow: hidden;
    margin: 5rem auto 0;
    box-shadow: 8px 8px 20px rgba(0 0 0 / 1);
    backdrop-filter: blur(20px);

    & > div {
            flex-grow: 1;
        }
}

.addImageWrapper {
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    width: 18em;
    padding: 6em;
    background-color: rgb(160 160 160 / 1);
    filter: drop-shadow(6px 6px var(--black));
    margin-bottom: 1.8em;
}

.addImageBtn {
    font-size: 1rem;
}

.editProfileWrapper {
    text-align: center;
}

.editBtn {
    font-size: 1.1rem;
    padding: 0.6em 1.5em;
    box-shadow: 1px 1px 2px var(--black);
    border-radius: 0;
    border: none;
    transition-property: background-color border-color color;
    transition-duration: 400ms;
    transition-timing-function: ease-in;
    background-color: transparent;
    outline: 2px solid rgba(101 101 210 / 1);
    color: var(--white);
    
    &:hover, &:focus-visible {
        background-color: rgba(101 101 210 / 1);
        outline: 0;
        color: var(--black);
    }
}

.userPreferenceFlexWrapper {
    display: flex;
    justify-content: space-between;
    padding: 2em 2.2em;
    transition: background-color 600ms ease-in;
    border-radius: 5px;
    margin-bottom: 2em;
    background-color: rgba(255 255 255 / 0.1);

    &:hover {
        background-color: rgba(223 223 239 / 1);
        cursor: pointer;
    }
}

.userPreferenceFlexWrapper:hover > div:last-child[data-content="my-learning"] {
    color: rgba(0 0 230 / 1);
}

.userPreferenceFlexWrapper:hover > div:last-child[data-content="saved-words"] {
    color: var(--red);
}

.userPreferenceFlexWrapper:hover > div:last-child[data-content="privacy-settings"] {
    color: rgba(0 200 0 / 1);
}

.icon {
    font-size: 2.5rem;
    transition: color 600ms ease-in;
}

.userDataText {
    font-size: 1.6rem;
}

.deleteAccountWrapper {
    text-align: center;
    padding: 5em 0 0;
}

.deleteBtn {
    background-color: var(--red);
    font-size: 1.2rem;
    padding: 0.5em 1.5em;
    font-weight: 600;
    transition: background-color 1s ease-in;

    &:hover {
        background-color: rgba(255 0 0 / 1);
    }
}

@media (width >= 280px) {
    .mainContentWrapper {
        flex-direction: column;
        padding: 5em 0.5em;
    }

    .editProfileWrapper {
        margin: 5em 0 5em;
    }
}

@media (width >= 992px) {
    .mainContentWrapper {
        justify-content: space-around;
        padding: 5em 1.5em;
        flex-direction: row;
    }

    .editProfileWrapper {
        margin-bottom: 0;
    }
}