.errorWrapper {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.errorText {
    font-size: 2rem;
    text-align: center;
    text-wrap: balance;
}

.errorLink {
    text-decoration: underline;
    color: rgba(0 0 255 / 1);
}